*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
   
    height: 50px;
}
ul{
    padding-left: 20px;
    background-color: #4a77d4;
    display: flex;
    list-style-type: none;
    height: 50px;
}
li{
    display: flex;
    justify-content: center;
    background-color: #4a77d4;
    width: 14%;  
    height: 50px
}
.Link{
    color: white;
    background-color: #4a77d4;
    height: 50px;
    font-size: 1.2rem;
    text-decoration: none;
   padding-top: 12px;
}
.end{
    display: flex;
    color: white;
    background-color: #4a77d4;
    height: 50px;
    font-size: 1.2rem;
    text-decoration: none;
   padding-top: 12px;
   margin-left: 400px;
}
.end i{
    padding-right: 10px;
}
.username{
    text-transform: capitalize;
}


