*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Show{
    padding-top: 40px;
display: flex;
justify-content: center;
flex-direction: column;
align-content: center;
align-items: center;
}